<section id="contacts">
  <h2>Контактная информация</h2>
  
  <article>
    <p>Связаться со мной можно следующим образом:</p>
    
    <ul>
      <li>skype: vsevolod.romashov</li>
      <li>icq: 405-000-333</li>
      <li>электропочта: <%= mail_to '7@7vn.ru', nil, encode: 'javascript' %></li>
      <li>jabber: идентичен почте</li>
      <li>twitter: <%= link_to '@muthafaka', 'http://twitter.com/muthafaka' %></li>
      <li>github: <%= link_to 'github.com/7even', 'https://github.com/7even' %></li>
      <li>ну и хватит, пожалуй :)</li>
    </ul>
    
    <p>Иногда меня можно встретить на конференциях RailsClub и DevConf (в секции Ruby, разумеется).</p>
  </article>
</section>
