<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h2>Добро пожаловать на 7vn.ru, <%= @user.name %></h2>
    <p>
      Вы зарегистрировались на 7vn.ru,
      используя данный адрес e-mail (<%= @user.email %>).<br/>
    </p>
    <p>
      Чтобы завершить процесс регистрации, пройдите
      по этой ссылке: <%= @url %>.
    </p>
    <p>Спасибо за регистрацию!</p>
  </body>
</html>
