<section id="post">
  <h1><%= t('posts.edit.header') %></h1>
  
  <%= render 'form' %>
  
  <p class="links">
    <%= link_to t('posts.common.to_index'), posts_path %> |
    <%= link_to t('common.show'), @post %>
  </p>
</section>
